<div class="col-sm mb-2">
  <div class="card bg-light m-auto" style="width: 18rem;">
    <img class="card-img-top beer-img mt-2" src="{{this.image_url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{this.tagline}}</h6>
      <p class="card-text">{{this.description}}</p>
    </div>
  </div>
</div>
