<div class="index-container">
  <h1>Random Beer</h1>
<div class="card p-2">
      <div class="row ">
        <div class="col-md-4 text-center">
            <img src="{{one.image_url}}" class="w-100 beer-img ">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title">L{{one.name}}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{one.name}}</h6>
              <p class="card-text">{{one.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>  
</div>